body {background-color:#d1d1d1;}
.nav {
    background-color: #658864;
    border-radius: 5px;	  
    padding: 5px;
    display: flex;
    align-items: center;}

    .nav h1 {
    color: black;
    margin: 0;
    margin-right: auto;
    font-size: 25px;
	text-align:left;}

    .nav a {
    text-decoration: none;
    color: black;
    background-color: #d1d1d1; 
    padding: 12px;
    border-radius: 5px;
	margin-left: 15px;
	margin-right:10px;
    font-size: 16px;
	color:black;
    font-weight:bold;}

    .nav a:hover {
    border:3px #B7B78A solid ; }
	
	footer {background-color:#658864; color:#fdf6fd; width:100%; padding:10px; bottom:0;   display: flex;
    align-items: center;}
	
img{max-width:100%; height:auto;}
video {
  position: relative;

  height:auto;
  overflow: hidden;
max-width: 100%;}
body {font-size: 1em;}

h1 { font-size: 2.5em; }

p {font-size: 1.2em;}


	
